<!--<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>

<ul>
  <% ["hello", "darkness", "my", "old", "friend"].each do |text| %>
  <li><%= text %></li>
  <% end %>
</ul>
-->

<div class="convert-form" name="postUrl">
  <form action="/submit" method="POST">
    <input type="text" name="url" placeholder="Place a link to shorten it">
    <input id="convert" type="submit" value="Shorten" name"convert">
  </form>
</div>


<div class="data-div" id="showData">
  <% url = Url.last %>
    <a href=<%= url.long_url %>>http://localhost:9393/<%= url.short_url %></a>
    <p id="test-ajax"></p>
</div>
